/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap'); */

/* ROOT VAR's */
:root {
  --black: #111111;
  --gray-100: #f7f7f7;
  --gray-200: #e0e0e0;
  --gray-300: #c7c7c7;
  --gray-400: #a8a8a8;
  --gray-500: #888888;
  --gray-600: #666666;
  --gray-700: #444444;
  --gray-800: #333333;
  --gray-900: #222222;

  --box-shadow: 4px 6px 0 var(--gray-900);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  user-select: none;
  overflow-x: hidden;
  color: var(--gray-800);
  background: hsl(0, 0%, 96%);
  /* padding: 0 32px; */
  scroll-behavior: smooth;
}

.container {
  width: 96%;
  display: grid;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
  grid-template-rows: none;
}

a {
  color: var(--gray-800);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

/* =================== Alert ============================ */
.alert {
  background-color: #f44336;
  color: white;
  padding: 15px;
  /* margin-top: 5rem; */
  border: 3px solid var(--gray-900);
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  text-align: center;
  font-weight: 900;
  display: block;
  cursor: pointer;
}

/* ======================== login ==================== */
main .login {
  display: flex;
  align-items: center;
  color: var(--gray-800);
}

.tm-login-form {
  background-color: #fff;
  border: 3px solid var(--gray-900);
  padding: 1rem;
  width: 70%;
  box-shadow: var(--box-shadow);
}

.tm-login-form label,
legend {
  display: block;
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: .5rem;
}

input[type="email"],
input[type="number"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: .5rem;
  border: 2px solid var(--gray-800);
  font-size: 1rem;
}

/* ======================== checkbox ==================== */

input[type="checkbox"] {
  cursor: pointer;
  background-position: center;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  border: 2px solid var(--gray-800);
  transition: all 0.1s linear;
}

input[type="radio"] {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 2px solid var(--gray-800);
  transition: all 0.1s linear;
}

input[type="radio"]:checked {
  background-color: var(--gray-900);
}

input[type="checkbox"]:checked {
  background: url(./images/check-mark.png) var(--gray-800) center no-repeat;
}

.tipomedia {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
}

.tipomedia legend {
  margin: 0 1rem;
}

button[type="submit"]:not(.delete-genero, .delete-produto, .edit-btn) {
  color: var(--gray-100);
  border: none;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 900;
  background-color: var(--gray-700);
  transition: all 300ms ease-out;
}

button[type="submit"]:hover::not(.delete-genero, .delete-produto, .edit-btn) {
  color: var(--gray-100);
  background-color: var(--gray-900);
}

.edit-btn {
  color: var(--gray-800);
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(228, 226, 118);
  font-size: 1rem;
  font-weight: 700;
  transition: all 300ms ease-out;
  /* background: none; */
}

.delete-produto {
  color: rgb(166, 27, 27);
  padding: 5px 10px;
  background: none;
}

button:not(.delete-genero, .delete-produto, .edit-btn) {
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 20px;
  transition: all 300ms ease-out;
}

button:hover:not(.delete-genero, .delete-produto, .edit-btn, .delete-prod-sele) {
  color: var(--gray-100);
  background-color: var(--gray-900);
}

.delete-prod-sele:hover {
  color: var(--gray-100);
  background-color: rgb(206, 50, 50);
}

button .alert-btn {
  padding: 10px;
}

.delete-genero,
.delete-produto {
  cursor: pointer;
}

button[type="button"] #criar-conta {
  background-color: var(--gray-400);
}

/* ======================================= */


.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--gray-300);
}

p {
  color: var(--gray-600);
}

b {
  color: var(--gray-800);
}

.primary {
  color: var(--gray-900);
}

.success {
  color: rgb(0, 128, 41);
}

.warning {
  color: rgba(240, 12, 12, 0.86);
}

aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 3px solid var(--gray-900);
  border-left: 3px solid var(--gray-900);
}

aside .logo img {
  width: 5rem;
  height: 5rem;
}

aside .logo {
  padding-left: 1rem;
}

aside .close {
  display: none;
}

/* SIDEBAR====================== */
aside .sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  border-right: 3px solid var(--gray-900);
  border-left: 3px solid var(--gray-900);
  height: calc(100% - 5rem);
}

aside h3 {
  font-weight: 400;
}

aside .sidebar a {
  border-top: 3px solid var(--gray-900);
  display: flex;
  color: var(--gray-800);
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  position: relative;
}

/* Active */
aside .sidebar a:is(:link, :active, :visited).active {
  background: var(--gray-900);
  color: var(--gray-100);
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease-out;
}

aside .sidebar a:nth-child(10) {
  border-bottom: 3px solid var(--gray-900);
}

aside .sidebar a:not(.sub-item):last-child {
  border-top: none;
  position: absolute;
  bottom: 5rem;
  width: 100%;
}

aside .sidebar .active>h3 {
  font-weight: 900;
}

aside .sidebar a:hover {
  color: var(--gray-100);
  background: var(--gray-900);
}

aside .sidebar a:hover span {
  margin-left: .3rem;
}

aside .sidebar .dropdown .sub-menu {
  background: var(--gray-200);
}

/* ========== MAIN ================ */

main #titulo {
  height: 5rem;
  padding: calc(2.5rem / 2) 0;
}

main .date {
  display: inline-block;
  border: 3px solid var(--gray-900);
  /* border-radius: 2rem; */
  padding: 0.5rem 1.6rem;
  box-shadow: var(--box-shadow);
}

main .date input[type="date"] {
  background: none;
  color: var(--gray-800);
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  margin-top: 1.1rem;
}

main .insights>div {
  background: white;
  padding: 1rem;
  border: 3px solid var(--gray-900);
  box-shadow: var(--box-shadow);
}

main .insights>div span {
  font-size: 2rem;
  padding: 0.5rem;
  background: var(--gray-500);
  color: var(--gray-100);
}

main .insights>div.expenses span {
  background-color: rgb(234, 78, 78);
}

main .insights>div.income span {
  background-color: rgb(36, 152, 73);
}

main .insights>div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
}

main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights svg {
  /* background: red; */
  width: 7rem;
  height: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: var(--gray-500);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================== RECENT ORDERS ============== */
main .recent-orders:not(.produtos) {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}


main .recent-orders:not(.produtos) table,
.right .recent-orders table {
  background: white;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border: 3px solid var(--gray-900);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.produtos .table-prod {
  width: 100%;
  background: white;
  padding: 1rem;
  text-align: center;
  border: 3px solid var(--gray-900);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

/* main table thead th {
  top: 0px;
  background-color: #111111;
} */

main table tbody td,
.right table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--gray-100);
  color: var(--gray-600);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--gray-600);
}

tr:nth-child(even) {
  background-color: var(--gray-200);
}

/* =========== RIGHT ==================== */
/* .right {
  margin-top: 1.4rem;
} */

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
  height: 5rem;
  padding: calc(2.5rem / 2) 0;
}

.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--gray-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active {
  background: var(--gray-800);
  color: var(--gray-100);
  font-weight: 700;
}

.right .top .profile {
  display: flex;
  gap: 1rem;
  text-align: right;
}

/* ================ RECENT UPDATES ========== */
.right .recent-updates {
  margin-top: 1.1rem;
}

.right .recent-updates h2 {
  margin-bottom: .8rem;
}

.right .recent-updates .updates {
  background: white;
  padding: 1rem;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  border: 3px solid var(--gray-900);
}

.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ===================== VENDAS ===================== */
.right .sales-analytics {
  margin-top: 2rem;
}

.right .sales-analytics h2 {
  margin-bottom: .8rem;
}

.right .sales-analytics .item {
  background: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .7rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border: 3px solid var(--gray-900);
}

.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;

}

.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: var(--gray-100);
  background: var(--gray-600);
  display: flex;
}

.right .sales-analytics .item.offline .icon {
  background: rgb(234, 78, 78);
}

.right .sales-analytics .item.customers .icon {
  background: rgb(36, 152, 73);
}

.right .sales-analytics .add-product {
  background-color: transparent;
  border: 3px dashed var(--gray-800);
  color: var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right .sales-analytics .add-product div h3 {
  font-weight: 900;
}

/* ============== MEDIA QUERIES =================== */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a:last-child {
    position: absolute;
    margin-top: 1.8rem;
  }

  main .insights {
    grid-template-columns: 1fr;
    gap: 5;
  }

  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .recent-orders table {
    width: 80vw;
  }

  main table tbody tr td:last-child {
    display: none;
  }
}

/* ============== MEDIA QUERIES =================== */
@media screen and (max-width: 919px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    background: white;
    width: 18rem;
    z-index: 3;
    /* box-shadow: var(--box-shadow); */
    /* height: 100vh; */
    display: none;
    animation: showMenu 400ms ease-out forwards;
    /* animation: closeMenu 400ms ease-out backwards; */
  }

  @keyframes showMenu {
    from {
      left: -100%;
    }

    to {
      left: 0;
    }
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 10rem;
  }

  aside .close {
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-orders table {
    width: 100%;
    margin: 0;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: white;
    width: 100%;
    margin: 0;
    z-index: 2;
    border-bottom: 3px solid var(--gray-900);
  }

  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--gray-800);
    position: absolute;
    left: 1rem;
  }

  .right .top button span {
    font-size: 2rem;
  }
}